@import '../share/styles/styles.scss';

h1 {
  @extend %h1-margin;
  @extend %h1-title;
  text-align: center;
}

:host {
  .mat-form-field {
    width: 100%;

    textarea {
      height: 180px;
    }
  }

}
